<ActionBar title="Add Friend">
  <NavigationButton text="Back" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>

<ScrollView>
  <StackLayout class="p-4">
    <TextField [(ngModel)]="newFriend.name" hint="Name" class="input input-border"></TextField>
    <TextField [(ngModel)]="newFriend.age" hint="Age" keyboardType="number" class="input input-border"></TextField>
    <TextField [(ngModel)]="newFriend.location" hint="Location" class="input input-border"></TextField>
    <TextField [(ngModel)]="interestsString" hint="Interests (comma-separated)" class="input input-border"></TextField>
    <Button text="Add Friend" (tap)="onAddFriend()" class="btn btn-primary"></Button>
  </StackLayout>
</ScrollView>