<ActionBar title="Create Hangout">
  <NavigationButton text="Back" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>

<ScrollView>
  <StackLayout class="p-4">
    <TextField [(ngModel)]="newHangout.title" hint="Title" class="input input-border"></TextField>
    <TextField [(ngModel)]="newHangout.description" hint="Description" class="input input-border"></TextField>
    <TextField [(ngModel)]="newHangout.location" hint="Location" class="input input-border"></TextField>
    <DatePicker [(ngModel)]="hangoutDate"></DatePicker>
    <TimePicker [(ngModel)]="hangoutTime"></TimePicker>
    <TextField [(ngModel)]="newHangout.maxParticipants" hint="Max Participants" keyboardType="number" class="input input-border"></TextField>
    <Button text="Create Hangout" (tap)="onCreateHangout()" class="btn btn-primary"></Button>
  </StackLayout>
</ScrollView>