<ActionBar title="Hangouts">
  <NavigationButton text="Back" android.systemIcon="ic_menu_back"></NavigationButton>
  <ActionItem text="Create Hangout" (tap)="onCreateHangout()" ios.position="right"></ActionItem>
</ActionBar>

<ListView [items]="hangouts" class="list-group">
  <ng-template let-hangout="item">
    <GridLayout rows="auto, auto" columns="*, auto" class="list-group-item">
      <Label [text]="hangout.title" row="0" col="0" class="list-group-item-heading"></Label>
      <Label [text]="hangout.dateTime | date:'short'" row="0" col="1" class="list-group-item-text"></Label>
      <Label [text]="hangout.location" row="1" col="0" class="list-group-item-text"></Label>
      <Button [text]="isParticipating(hangout) ? 'Leave' : 'Join'" (tap)="onJoinLeave(hangout)" row="1" col="1"></Button>
    </GridLayout>
  </ng-template>
</ListView>